FinanceClient/Connected Services/FinanceServiceRef/FinanceWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="https://localhost:44324/FinanceWebService.asmx" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://localhost:44324/FinanceWebService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://localhost:44324/FinanceWebService.asmx">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fullname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRecordResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRecordResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRecordResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllRecords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllRecordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRecordsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="AddRecordSoapIn">
    <wsdl:part name="parameters" element="tns:AddRecord" />
  </wsdl:message>
  <wsdl:message name="AddRecordSoapOut">
    <wsdl:part name="parameters" element="tns:AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRecordSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRecord" />
  </wsdl:message>
  <wsdl:message name="DeleteRecordSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRecordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRecordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRecord" />
  </wsdl:message>
  <wsdl:message name="UpdateRecordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRecords" />
  </wsdl:message>
  <wsdl:message name="GetAllRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="FinanceWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Greetings</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Register new user</wsdl:documentation>
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sign in of a registered user</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add financial record</wsdl:documentation>
      <wsdl:input message="tns:AddRecordSoapIn" />
      <wsdl:output message="tns:AddRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete financial record</wsdl:documentation>
      <wsdl:input message="tns:DeleteRecordSoapIn" />
      <wsdl:output message="tns:DeleteRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update financial record</wsdl:documentation>
      <wsdl:input message="tns:UpdateRecordSoapIn" />
      <wsdl:output message="tns:UpdateRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRecords">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all financial records</wsdl:documentation>
      <wsdl:input message="tns:GetAllRecordsSoapIn" />
      <wsdl:output message="tns:GetAllRecordsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinanceWebServiceSoap" type="tns:FinanceWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="https://localhost:44324/FinanceWebService.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="https://localhost:44324/FinanceWebService.asmx/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="https://localhost:44324/FinanceWebService.asmx/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <soap:operation soapAction="https://localhost:44324/FinanceWebService.asmx/AddRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <soap:operation soapAction="https://localhost:44324/FinanceWebService.asmx/DeleteRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <soap:operation soapAction="https://localhost:44324/FinanceWebService.asmx/UpdateRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRecords">
      <soap:operation soapAction="https://localhost:44324/FinanceWebService.asmx/GetAllRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinanceWebServiceSoap12" type="tns:FinanceWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="https://localhost:44324/FinanceWebService.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="https://localhost:44324/FinanceWebService.asmx/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="https://localhost:44324/FinanceWebService.asmx/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <soap12:operation soapAction="https://localhost:44324/FinanceWebService.asmx/AddRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <soap12:operation soapAction="https://localhost:44324/FinanceWebService.asmx/DeleteRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <soap12:operation soapAction="https://localhost:44324/FinanceWebService.asmx/UpdateRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRecords">
      <soap12:operation soapAction="https://localhost:44324/FinanceWebService.asmx/GetAllRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanceWebService">
    <wsdl:port name="FinanceWebServiceSoap" binding="tns:FinanceWebServiceSoap">
      <soap:address location="https://localhost:44324/FinanceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="FinanceWebServiceSoap12" binding="tns:FinanceWebServiceSoap12">
      <soap12:address location="https://localhost:44324/FinanceWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>